
<div>
    <h2><span>Municipio</span> {{vm.municipio.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Nome</span></dt>
        <dd>
            <span>{{vm.municipio.nome}}</span>
        </dd>
        <dt><span>Estado</span></dt>
        <dd>
            <a ui-sref="estado-detail({id:vm.municipio.estadoId})">{{vm.municipio.estadoId}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="municipio-detail.edit({id:vm.municipio.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
