
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myFuncionariosLabel">Create or edit a Funcionarios</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.funcionarios.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.funcionarios.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="field_nome"
                    ng-model="vm.funcionarios.nome"
                    required />
            <div ng-show="editForm.nome.$invalid">
                <p class="help-block"
                    ng-show="editForm.nome.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_idade">Idade</label>
            <input type="number" class="form-control" name="idade" id="field_idade"
                    ng-model="vm.funcionarios.idade"
                    required />
            <div ng-show="editForm.idade.$invalid">
                <p class="help-block"
                    ng-show="editForm.idade.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.idade.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_dataNascimento">Data Nascimento - {{dateformat}} </label>
                <div class="input-group">
                    <input id="field_dataNascimento" type="text" class="form-control" name="dataNascimento" uib-datepicker-popup="{{dateformat}}" ng-model="vm.funcionarios.dataNascimento" is-open="vm.datePickerOpenStatus.dataNascimento"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dataNascimento')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_minSalary">Min Salary</label>
            <input type="number" class="form-control" name="minSalary" id="field_minSalary"
                    ng-model="vm.funcionarios.minSalary"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_maxSalary">Max Salary</label>
            <input type="number" class="form-control" name="maxSalary" id="field_maxSalary"
                    ng-model="vm.funcionarios.maxSalary"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
