
<div>
    <h2><span>Funcionarios</span> {{vm.funcionarios.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Nome</span></dt>
        <dd>
            <span>{{vm.funcionarios.nome}}</span>
        </dd>
        <dt><span>Idade</span></dt>
        <dd>
            <span>{{vm.funcionarios.idade}}</span>
        </dd>
        <dt><span>Data Nascimento</span></dt>
        <dd>
            <span>{{vm.funcionarios.dataNascimento | date:'medium'}}</span>
        </dd>
        <dt><span>Min Salary</span></dt>
        <dd>
            <span>{{vm.funcionarios.minSalary}}</span>
        </dd>
        <dt><span>Max Salary</span></dt>
        <dd>
            <span>{{vm.funcionarios.maxSalary}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="funcionarios-detail.edit({id:vm.funcionarios.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
