
<div>
    <h2><span>Estado</span> {{vm.estado.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Nome</span></dt>
        <dd>
            <span>{{vm.estado.nome}}</span>
        </dd>
        <dt><span>Sigla</span></dt>
        <dd>
            <span>{{vm.estado.sigla}}</span>
        </dd>
        <dt><span>Tipo</span></dt>
        <dd>
            <span>{{vm.estado.tipo}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="estado-detail.edit({id:vm.estado.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
